*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #161616;
  color: #fff;
  font-size: 14px;
}
a{
  color: white;
  text-decoration: none;
}
i{
  cursor: pointer;
}
.content{
  border-bottom:1px solid #ded2d2; 
}
.brand-head {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 36px 0;
  /* margin-top: -30px; */
  color: #E3FF00;
}
.person-info {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.image-grid .card {
  border: none;
  background: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image-grid .card:hover {
  opacity: 0.6;
  /* transform: scale(1.05); */
  /* box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2); */
}
.image-grid img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 30px 0;
}
.action-buttons .btn {
  background-color: yellow;
  color: #000;
  min-width: 320px;
  border: none;
  transition: transform 0.2s ease, background-color 0.3s ease;
}
.action-buttons .btn:hover {
  background-color: #15ff00;
  color: white;
  transform: scale(1.05);
}
.social-icons {
  /* position: fixed; */
  padding-left: 12px;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 16px;
}
.social-icons img {
  width: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.social-icons img:hover {
  transform: scale(1.2);
}
.social-icons img:active {
  transform: scale(0.9);
}
.foot-info{
  /* text-align: center; */
  margin: 36px 0;
}