//sass scss/home.scss:css/style.min.css --style=compressed --no-source-map 
// 导航栏
.header{
    width: 80vw;
    margin: auto;
    margin-top: 16px;
    border-bottom: 1px solid gray;
    .header h1{
        color: black;
        }
    .nav{
    width: 80vw;
    }
    .nav-list{
    display: flex;
    }
    .nav-item{
    padding: 8px 12px;
    }
    .nav-item>a{
    text-align: center;
    // display: inline-block;
    // padding: 16px 36px 16px 36px;
    }
    .nav-item>a:hover{
        text-decoration: underline;
    /* background-color:#3c3942; */
    color: rgb(107, 97, 97);
    }

    .dropdown{
    display: none;
    position: absolute;
    max-width: 220px;
    min-width: 120px;
    overflow: hidden;
    }
    .dropdown li a{
    padding: 3px 0;
    display: block;
    font-size: 14px;
    background-color: aliceblue;
    }
    .dropdown li a:hover{
    background-color: #b3abc2;
    color: white;
    }
    .nav-item:hover .dropdown{
    display: block;
    }
}
    
// 内容
.content {
    width: 80vw;
    margin: 8vh auto;
    overflow: hidden;
    .content-images{
        width: 80vw;
        height: 33vw;
        margin: auto;
        }
        .content-images img {
        width: 80vw;
        height: 33vw;
        object-fit: cover; 
        cursor: pointer;
        }
        .content-text{
        color: rgb(40, 36, 36,0.8);
        }
}


// 尾
.foot{
    width: 100vw;
    .foot-info{
        width: 80vw;
        margin: 10vh auto;
        }
}

// 媒体查询
@media screen and (max-width: 768px) {
    body{
        font-size: 12px;
        // background-color: yellow;
    }

    
}