.header{
    width: 80vw;
    margin: auto;
    margin-top: 16px;
    border-bottom: 1px solid rgb(227, 216, 216);
    }
    .header h1{
    color: rgb(61, 54, 54);
    }
    .nav{
    width: 80vw;
    }
    .nav-list{
    display: flex;
    }
    .nav-item{
    text-align: center;
    }
    .nav-item>a{
    display: block;
    padding: 18px 36px;
    }
    .nav-item>a:hover{
    /* background-color:#3c3942; */
    color: rgb(107, 97, 97);
    }
    .nav-list a:first-child{
    padding-left: 0px;
    }
    .dropdown{
    display: none;
    position: absolute;
    max-width: 220px;
    min-width: 120px;
    overflow: hidden;
    }
    .dropdown li a{
    padding: 3px 0;
    display: block;
    font-size: 14px;
    background-color: aliceblue;
    }
    .dropdown li a:hover{
    background-color: #3c3942;
    color: white;
    }
    .nav-item:hover .dropdown{
    display: block;
    }
    .content {
    width: 80vw;
    margin: 8vh auto;
    overflow: hidden;
    
    }
    .content-images{
    width: 80vw;
    height: 33vw;
    margin: auto;
    }
    .content-images img {
    width: 80vw;
    height: 33vw;
    object-fit: cover; 
    cursor: pointer;
    }
    .content-text{
    color: rgb(40, 36, 36,0.8);
    }
    .foot{
    width: 100vw;
    }
    .foot-info{
    width: 80vw;
    margin: 10vh auto;
    }
    