*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 无滚动条设计 */
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    width: 100vw;
    color: rgb(0, 0, 0);
    background-color:white;
    overflow-x: hidden;
}
img{
    cursor: pointer;
}
a{
    list-style: none ;
    text-decoration: none!important;
    color:black;
}
ul,li{
    list-style-type: none;
}


/* 自定义全局day|night切换使用 */
.bg-night{
background-color:black !important;
color: white!important;
}
